@model IEnumerable<Proje.Models.Etkinlik>

@{
    ViewBag.Title = "tumEtkinlikleriDondur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>tumEtkinlikleriDondur</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                ETKİNLİK TABLOSU
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ETKİNLİK ID</th>
                                <th>ETKİNLİK ADI</th>
                                <th>TALEP EDEN BİRİM</th>
                                <th>ETKİNLİK AÇIKLAMA</th>
                                <th>SON GÜNCELLENME</th>
                                <th>DÜZENLE</th>
                                <th>SİL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr class="odd gradeX">
                                    <td class="center">@x.EtkinlikID</td>
                                    <td>@x.EtkinlikAdi</td>
                                    <td>@x.TalepBirim</td>>
                                    <td>@x.Aciklama</td>
                                    <td class="center">@x.EtkinlikID</td>
                                    <th>
                                        <a href="@Url.Action("EtkinlikDuzenle","Etkinlik_Tablosu_", new {EtkinlikID = x.EtkinlikID})" class=" btn btn-block bg-gradient-success">
                                            DÜZENLE
                                        </a>
                                    </th>
                                    <th>
                                        <a href="@Url.Action("EtkinlikSil","Etkinlik_Tablosu_", new {EtkinlikID = x.EtkinlikID})" class=" btn btn-block bg-gradient-success">
                                            SİL
                                        </a>
                                    </th>
                                </tr>
                            }
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

